<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <%- include('partials/header') %>
      <main>
        <div class="product-container">
            
            <%  products.forEach( product =>{ %>
                    <div class="product" id="<%= product._id %>">
                        <div class="content">
                            <img   src= <%= product.imageurl %>  alt="">
                            <h3 id="productName"> <%=product.productName %></h3>
                            <p id="description"> <%= product.description %></p>
                            <h4 id="price"> Rs. <%= product.price %></h4>
                        </div>
                    </div>
               <%  }) %>
        </div>
      </main>
      <%- include('partials/footer') %>
      <script>
        const productContainer=document.querySelector('.product-container');
        console.log(productContainer);
        productContainer.addEventListener('click',getAProduct);

        function getAProduct(e){
            const target=e.target;
            if(target== this){
                return;
            }
            let id;
            if(target.classList.contains('product')){
                id=target.id;
            }
            else if(target.classList.contains('content')){
                id=target.parentElement.id;
            }
            else{
                id=target.parentElement.parentElement.id;
            }
            window.location.href=`/products/${id}`
        }
      </script>
</body>

</html>